* {
  text-align: center;
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: grey;
  margin-bottom: 50px;
  padding: 25px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  padding: 25px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
